<div class="form-group">
    <label for="productName">
     product Name
    </label>
    <input type="text" id="productName" #productName class="form-control">
</div>
    <div class="form-group">
       <label for="productDescription">
        product Description
       </label>
     <input type="text" id="productDescription" #productDescription class="form-control">
 </div>
 <div class="form-group">
     <button class="btn btn-warning mr-4" (click)="addproductdetails(productName,productDescription,'Product')">Add as Product</button>
     <button class="btn btn-info"(click)="addproductdetails(productName,productDescription, 'Catloge')">Add as Catloge</button>
 </div>